<a href="https://colab.research.google.com/github/Suryadinata1/Tugas_Machine_Learning/blob/main/Pratikum01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd 
path="/content/drive/My Drive/proyeksi-penduduk-2010-2035.csv"
dataset=pd.read_csv(path)
dataset

     kode propinsi  tahun kelamin  jumlah
0      11     Aceh   2010       L  2255.0
1      11     Aceh   2010       P  2268.1
2      11     Aceh   2015       L  2497.5
3      11     Aceh   2015       P  2504.5
4      11     Aceh   2020       L  2728.2
..    ...      ...    ...     ...     ...
391    94    Papua   2025       P  1770.3
392    94    Papua   2030       L  2044.3
393    94    Papua   2030       P  1895.1
394    94    Papua   2035       L  2139.1
395    94    Papua   2035       P  2005.5

[396 rows x 5 columns]

In [16]:
dataset.head()

   kode propinsi  tahun kelamin  jumlah
0    11     Aceh   2010       L  2255.0
1    11     Aceh   2010       P  2268.1
2    11     Aceh   2015       L  2497.5
3    11     Aceh   2015       P  2504.5
4    11     Aceh   2020       L  2728.2

In [17]:
dataset.shape

(396, 5)

In [19]:
dataset.isnull() .sum()

kode        0
propinsi    0
tahun       0
kelamin     0
jumlah      0
dtype: int64

In [20]:
dataset.max()

kode                    94
propinsi    Sumatera Utara
tahun                 2035
kelamin                  P
jumlah             28688.9
dtype: object

In [21]:
dataset.min()

kode          11
propinsi    Aceh
tahun       2010
kelamin        L
jumlah       361
dtype: object

In [22]:
dataset.describe()

             kode        tahun        jumlah
count  396.000000   396.000000    396.000000
mean    47.030303  2022.500000   4171.548990
std     26.354719     8.549928   5692.124431
min     11.000000  2010.000000    361.000000
25%     19.000000  2015.000000   1232.825000
50%     51.000000  2022.500000   2201.100000
75%     72.000000  2030.000000   4219.375000
max     94.000000  2035.000000  28688.900000

In [23]:
data=dataset.dropna()

In [24]:
data.shape

(396, 5)

In [32]:
dataset.dropna(axis=0,subset=['kode','tahun','jumlah'],inplace=True)

In [33]:
dataset.shape

(396, 5)

In [35]:
#Memilih target prediksi (prediction target)
y=data['tahun']
y

0      2010
1      2010
2      2015
3      2015
4      2020
       ...
391    2025
392    2030
393    2030
394    2035
395    2035
Name: tahun, Length: 396, dtype: int64

In [44]:
#Mmemilih fitur (Feature selection)
fitur=['kode','kelamin']
X=data[fitur]
X

     kode kelamin
0      11       L
1      11       P
2      11       L
3      11       P
4      11       L
..    ...     ...
391    94       P
392    94       L
393    94       P
394    94       L
395    94       P

[396 rows x 2 columns]